@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.eot");
  src: local("☺"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto-Black";
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #342c58;
  z-index: 2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5px;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
}

.header__logo {
  background: url("../img/icons/head_icon.png") left no-repeat;
  padding-left: 60px;
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  font-weight: 100;
  color: #17a7ae;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 30px;
  position: relative;
  z-index: 0;
}

.header__list {
  display: flex;
  padding: 30px 0;
  position: relative;
  z-index: 2;
}

.header__link {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin: 0 10px;
  text-transform: uppercase;
}

.header__link:hover {
  color: #00e0d0;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    position: relative;
    z-index: 3;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.6s;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: 0.6s;
  }

  .header__burger.active span {
    display: none;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.6s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #332b56;
    padding: 70px 0 0 0;
    transition: 0.7s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin-bottom: 20px;
  }

  .header__link {
    font-size: 30px;
  }
}
.home {
  background: url("../img/bg/bg_1.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.home__body {
  max-width: 775px;
  margin: 0 auto;
  text-align: center;
  padding: 205px 15px 207px 15px;
}

.home__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 32px;
}

.home__title:after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  position: relative;
  margin: 20px auto;
}

.home__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 52px;
}

.link__button {
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #00e0d0;
  width: 150px;
  height: 40px;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.link__button:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  transition-duration: 0.3s;
}

.about {
  border-top: 100px solid transparent;
  margin-top: -100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.about__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 70px 0;
  padding: 0 20px;
}

.about-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-right {
  max-width: 540px;
}

.about-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
}

.about-text {
  opacity: 0.74;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #413d4b;
  margin: 29px 0 0px 0;
}

.about-text p {
  margin-bottom: 30px;
}

.about__link {
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #00e0d0;
  width: 120px;
  height: 40px;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 856px) {
  .about__body {
    max-width: 540px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .about__link {
    display: inline-block;
    text-align: center;
    padding: 12px;
  }

  .about-img {
    display: inline-block;
    margin: 15px 0;
  }
}
.story {
  background: url("../img/bg/bg_2.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}

.story__body {
  margin: 71px 0 71px 0;
  padding: 201px 15px;
}

.story-img {
  max-width: 100%;
  height: auto;
}

.story-title {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 33px;
}

.expertise {
  border-top: 100px solid transparent;
  margin-top: -100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.expertise__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
}

.expertise__undertitle {
  opacity: 0.74;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #2f2d35;
  text-align: center;
  margin-top: 17px;
  padding: 0 15px;
}

.expertise__undertitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  opacity: 0.3;
  background-color: #413d4b;
  margin: 17px auto;
}

.expertise__item-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 0 100px 0;
  padding: 0 15px;
}

.expertise__item {
  max-width: 253px;
  text-align: center;
  margin-top: 80px;
  padding: 0 5px;
}

.expertise__item-img {
  max-width: 100%;
  height: auto;
}

.expertise__item-title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #413d4b;
  margin: 35px 0 25px 0;
}

.expertise__item-text {
  opacity: 0.74;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #333333;
}

@media (max-width: 550px) {
  .expertise__item-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.team {
  background: url("../img/bg/bg_3.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border-top: 100px solid transparent;
  margin-top: -100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.team__body {
  padding: 70px 10px;
}

.team__top {
  text-align: center;
}

.team__title {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.team__undertitle {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #f9f9f9;
  margin-top: 15px;
}

.team__undertitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  opacity: 0.2;
  background-color: #ffffff;
  margin: 15px auto;
}

.team__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.team__item {
  padding: 10px 3px;
}

.team__img {
  max-width: 100%;
  height: auto;
}

.team__item-title {
  opacity: 0.87;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 20px 0 10px 0;
}

.team__item-undertitle {
  opacity: 0.61;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #fafafa;
}

.team__under {
  text-align: center;
}

.team__under-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #f3f3f3;
  margin: 70px 0 20px 0;
}

@media (max-width: 485px) {
  .team__gallery {
    display: block;
  }
}
.works {
  border-top: 100px solid transparent;
  margin-top: -100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.works__body {
  padding: 5px;
}

.works__title {
  text-align: center;
  margin: 70px 0;
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
}

.works__gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.works__gallery-img {
  max-width: 100%;
  height: auto;
  padding: 5px;
}

.link__works {
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #00e0d0;
  width: 150px;
  height: 40px;
  border: 1px solid #00e0d0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto;
}

.say {
  background: url("../img/bg/bg_4.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border-top: 100px solid transparent;
  margin-top: -100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.say__body {
  padding: 0 5px;
  text-align: center;
}

.say__title {
  opacity: 0.9;
  font-family: "Playfair Display", sans-serif;
  font-size: 100px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 70px 0 40px 0;
}

.say__text {
  opacity: 0.85;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  max-width: 775px;
  margin: 0 auto;
}

.say__under {
  padding: 50px 0 180px 0;
}

.say__name {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.say__position {
  opacity: 0.7;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
}

.contact {
  border-top: 100px solid transparent;
  margin-top: -100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.contact__body {
  margin: 70px 0;
  display: flex;
  padding: 0 5px;
}

.contact__left-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
}

input[type=text] {
  width: 460px;
  height: 45px;
  opacity: 1;
  border: 1px solid #000000;
  padding-left: 20px;
  margin: 20px 0;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #7a0000;
}

input[type=text]:last-child {
  height: 200px;
  padding-bottom: 150px;
  color: #35138d;
}

input[type=text]:hover {
  border: 2px solid #000000;
  opacity: 1;
}

.contact__right-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #413d4b;
  text-transform: uppercase;
}

.contact__right-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contact_gallery-img {
  max-width: 100%;
  height: auto;
  padding: 20px;
  flex: 0 0 50%;
}

@media (max-width: 920px) {
  .contact__body {
    display: block;
  }

  .contact__left {
    display: flex;
    justify-content: center;
  }

  .contact__left-title {
    text-align: center;
  }

  .form_auth_style {
    text-align: center;
  }

  .about__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .contact__right {
    margin-top: 20px;
  }

  .contact__right-title {
    text-align: center;
  }

  .contact_gallery-img {
    flex: 0 0 20%;
  }
}
@media (max-width: 495px) {
  input[type=text],
input[type=text]:last-child {
    width: 305px;
  }
}
.footer {
  background: url("../img/bg/bg_5.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border-top: 100px solid transparent;
  margin-top: -100px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 5px;
}

.footer__left {
  max-width: 300px;
}

.footer__left-top_title {
  background: url("../img/icons/head_icon.png") left no-repeat;
  padding-left: 70px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 100;
  color: #00e0d0;
  overflow: hidden;
}

.footer__left-center {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin: 25px 0 40px 0;
}

.footer__left-under {
  display: flex;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.footer__center {
  max-width: 275px;
}

.footer__center-top {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__center_item {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin: 25px 0 40px 0;
}

.footer__center_item:nth-child(1) {
  background: url("../img/icons/geo.png") left no-repeat;
  padding-left: 32px;
}

.footer__center_item:nth-child(2) {
  background: url("../img/icons/phone.png") left no-repeat;
  padding-left: 32px;
}

.footer__right {
  max-width: 290px;
}

.footer__right-top {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__right-center {
  margin: 25px 0 40px 0;
}

input[type=email] {
  width: 250px;
  height: 45px;
  opacity: 1;
  border: 1px solid #88809e;
  margin: 20px 0;
  font-family: Roboto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #13cebe;
  background-color: #3c3060;
  padding-left: 15px;
}

.footer__right-img {
  padding-right: 10px;
}

.footer__right-under {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}

@media (max-width: 910px) {
  .footer__body {
    display: block;
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }

  .footer__center {
    max-width: 300px;
    margin: 20px 0;
  }

  .footer__left-top_title {
    background: none;
    padding-left: 0;
  }
}